<%= link_to "Home", doctors_path %>
<h2>Appointments <a href="/appointments/new">(+)</a></h2>


<ul>

  <% @appointments.each do |appointment| %>
  <% doctor_name = Doctor.find(appointment.doctor_id) %>
  <% patient_name = Patient.find(appointment.patient_id) %>
  <% doctor_name = doctor_name.name %>
  <% patient_name = patient_name.name %>
    <li>
      <a href="/appointments/<%= appointment.id %>">
        <%= "#{appointment.time} #{patient_name} for Dr. #{doctor_name}"  %>
      </a>
    </li>
  <% end %>
</ul>
